<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68834890530-je9pa5ht53aarfvmfuulnct4l77osgem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68834890530-je9pa5ht53aarfvmfuulnct4l77osgem</string>
	<key>API_KEY</key>
	<string>AIzaSyBgFTqEm4NpvvtueLybjREsN_tL_FSCzR4</string>
	<key>GCM_SENDER_ID</key>
	<string>68834890530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGoalTracker</string>
	<key>PROJECT_ID</key>
	<string>goal-tracker-97e67</string>
	<key>STORAGE_BUCKET</key>
	<string>goal-tracker-97e67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68834890530:ios:a9950773c5124e27938b7b</string>
</dict>
</plist>